{% if error %}
    {% for message in messages %}
        <div class="label label-danger">
            {{message()}}
        </div>
    {% endfor %}
    {% if value_message %}
        <div class="label label-danger">
            {{value_message()}}
        </div>
    {% endif %}
{% endif %}
